body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: 'Kumbh Sans';
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    width: 350px;
    border-radius: 10px;
    position: relative;
}

.container .title{
    font-size: 10px;
    color: var(--advice-dice-color);
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: 600;
}

.container .advice-text{
    width: 250px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
}

.container .divider{
    width: 250px;
    padding: 0px 0px 35px 0px;
}

.container .btn-dice{
    position: absolute;
    top: 154px;
    padding: 13px;
    border-radius: 50%;
    background-color: var(--advice-dice-color);
}

.container .btn-dice:hover{
    background-color: rgb(255, 255, 255);
    transition: ease-in-out;
}

.container .img-dice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
}

@media(max-width: 375px){
    .container{
        width: 280px;
    }
}